NumPy, version 1.22.1
SciPy, version 1.7.3
PyGAD, version 3.0.1 — https://pygad.readthedocs.io/en/latest/#
bees-algorithm, version 1.0.2 — https://pypi.org/project/bees-algorithm
KrakenOS, version 1.0.0.19 — https://github.com/Garchupiter/Kraken-Optical-Simulator
matplotlib, version 3.5.2